body {
  background-color: #b63900;
  font-family: arial, helvetica, san-serif;
  margin: 5% 5%
 }
.intro {
   border-bottom: 2px solid black;
   padding-left: 10px;
}
.duties {
  border-bottom: 2px solid black;
   padding-left: 20px;
  padding-bottom:10px
} 
.military {
   border-bottom: 2px solid black;
  padding-bottom:10px
}
.education { 
  border-bottom: 2px solid black;
   padding-left: 20px;
    padding-bottom:10px
}
h3 {
  text-align: center;
}  
img {
Width: 25% 
} 
.usmc {
  text-align: Right;
}

